.gray {
  background: rgba(0, 0, 0, 0.300);
}

.top-nav-collapse {
  background-color: rgba(0, 0, 0, 0.800) !important;
}

.bg-img {
  height: 100vh;
  background: url('../images/img-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.page-footer {
  background-color: #1C2331;
}

.icon-color {
  color: rgb(29, 202, 202);
}

section{
  width: 100%;
  scroll-behavior: smooth;
}

.btn {
  transition-duration: 0.4s !important;
}

.btn:hover {
  background-color: royalblue !important;
  color: white !important;
}

