.my-navbar{
    background: #343a40 ;
    color: white;
}

.navbar-nav>li>a{
    color:gray;
}

.navbar-nav>li>:hover{
    border-bottom: 1px solid gray;
    color: white;
}

.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: #f0f0f0;
}