.img-about{
  width: 100%;
}

.img-carousel {
  width: 100%;
  height: 100%;
  }

.color_icon{
 color: lightseagreen
}

.cono{
  text-align: center;
  color: red;
}

.mc{
  margin-bottom: 40px;
  margin-top: 40px;
}

.mbc{
  margin-bottom: 20px;
  margin-top: 20px;
}

#section_about_us{
  padding: 30px 0 30px 0;
}

#section_services{
  padding: 90px 0 90px 0;
}

.char{
  animation: an 1s ease-out 1 both;
  display: inline-block;
}

.area{
  height: 100vh;
  vertical-align: middle;
  display:table-cell;
}

.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  .form-header {
    padding: 1rem;
    margin-top: -3.13rem;
    margin-bottom: 3rem;
    color: #fff;
    text-align: center;
    border-radius: .125rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.btn {
  transition-duration: 0.4s !important;
}

.btn:hover {
  background-color: royalblue !important;
  color: white !important;
}



@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}