.img-about{
  width: 100%;
}

.color_icon{
 color: #4267b2
}

.cono{
  text-align: center;
  color: red;
}

.mc{
  margin-bottom: 40px;
  margin-top: 40px;
}

.mbc{
  margin-bottom: 20px;
  margin-top: 20px;
}

#section_about_us{
  padding: 30px 0 30px 0;
}

#section_services{
  padding: 90px 0 90px 0;
}

.char{
  animation: an 1s ease-out 1 both;
  display: inline-block;
}





@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}