.img-about{
  width: 100%;
}
.iconos{
  color: red;
}

.icon{
  color: #4682b4;
  
}

.cono{
  text-align: center;
}

.mc{
  margin-bottom: 40px;
  margin-top: 40px;
}

.mbc{
  margin-bottom: 20px;
  margin-top: 20px;
}
