#price{
    padding: 40px;
    background: #efefef;
}

.single-price{
    margin:10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.single-price:hover{
    box-shadow: 0 2px 20px #333;
}
.price-head{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.price-head h3{
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.price-head p{
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
}
#price span{
    font-size: 15px;
}
.price-content{
    display:inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}



.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
ul li:last-child{
    border: none;
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}

