#price{
    padding: 40px;
    background: #efefef;
}

.single-price{
    margin:10px auto;
    display: block;
    background-color: #fff;
    transition: 0.5s;
}

.single-price:hover{
    box-shadow: 0 2px 20px #333;
}

.price-head{
    background-color: lightseagreen;
    display: block;
    padding: 10px 5px;
    text-align: center;
}

.price-head h3{
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.price-head h4{
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.price-head p{
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
}

#price span{
    font-size: 15px;
}
.price-content{
    display:block;
    padding: 0px 10px 0px 10px;
}

ul{
    padding-left: inherit;
    padding-right: inherit;
}


.price-content ul li{
    border-bottom: 1px solid #efefef;
    list-style: none;
    list-style-type: none;
    padding-top: 15px;

}

ul li:last-child{
    border: none;
}

.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}

.area{
    width: 100%;

    display: flex;
    align-items: center;
  }

  .icon {
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.icon-sm {
    width: 15px;
    height: 15px;
    font-size: 9px;
}


  

